doctype html
html
	head
		//- 1514(GMT+8) 280416 Janet  
		title Ping
		meta(charset='UTF-8')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/css/main.css')
		script(src='/js/jquery-2.2.3.js')
		script(src='/js/angular-1.4.5.js')
		//- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
		link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
		link(rel="stylesheet", href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css")
		block css
		block script 
	