.side_bar-left.col-md-2.clearfix.no_pad
	.base_white_bg.grayscale_dark_cl
		ul.side_bar_menu.menu
			li.menu_item.icon_set.icon_set--sm
				a(href='#/companies/profile/edit')
					i.lnr.lnr-smile
					span Company&nbspBranding
			li.menu_item.icon_set.icon_set--sm.icon_set
				a(href='#/companies/profile/edit_detail')
					i.lnr.lnr-license
					span Detail/Description
			li.menu_item.icon_set.icon_set--sm
				a(href='#/companies/profile/edit_social')
					i.lnr.lnr-earth
					span Social&nbspNetworks