//- .portfolio_popup
.portfolio_popup.portfolio_popup_group#fancybox1(style='display:none;')
	.container
		.row
			.portfolio__popup__header.portfolio__popup__single.row_space--sm
				.title
					h3 pear delivery
				//- portfolio_type	
				.portfolio_popup_type
					span UX/UI Design, Web Design, Web Developement
				.functions
					.like_me
						a(href='#')
							i.fa.fa-heart-o
					.mark_me
						a(href='#')
							i.fa.fa-bookmark
			.portfolio__popup__photo.portfolio__popup__single
				img(src='/img/pinger_profile/fancybox_banner.jpg')
			.portfolio__popup__content.portfolio__popup__single.portfolio__popup__content__group.row_space--lg
				//- content_image
				.content_banner.portfolio__popup__content__single
					img(src='/img/pinger_profile/fancybox_content.jpg')
				.content_text.portfolio__popup__content__single.row_space-top--md
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt laborum minus, nostrum libero, fugiat perspiciatis possimus, illo mollitia corporis quas ut iusto rerum explicabo quos. Inventore qui, commodi mollitia harum.
					p walter hahahahahah hohohoh hehehehe rammus hahahah hohohoh hehehehe yoyoyoyoyoyo kerkerkerkekrekerker
				.content_code.portfolio__popup__content__single.round_corner.row_space-top--md.row_space--sm.col_space--sm
					p code view
