
h1 This is for angular.js
{{ 1+1 }}
{{user}}
div(ng-controller="myCtrl")
	p {{name}}
div(ng-controller='LoginCtrl')
	h1 {{code}}
	button(ng-click="try('login')") try login
	button(ng-click="login()") login
	button(ng-click="logout()") logout