// ================ Basic Button Style ================ 
// ================                    ================

//Button Style 1
.btn{
  display:inline-block;
  box-sizing:border-box;
  text-align:center;
  border-radius:$btn_border_radius_base;
  line-height:$base_input_font_size;
  font-size: $base_input_font_size;
  padding:0 20px;
  white-space:no-wrap;
  font-weight:900;
  cursor:pointer;
  text-transform:uppercase;
}

// Button Style 2
.btn_2{
	border-radius:$btn_border_radius_base;
	position: relative;
	border-bottom:3px solid $sec_cl;
	color:$sec_cl;
	overflow:hidden;
	&:hover:after{
		transition: all .3s;
		right:20px;
	}
	&:after{
		position: absolute;
		content:">";
		transition: all .3s;
		right:-20px;
	}
}

// ================ Button Colours ========


// Button with Primary Colour
.btn--pri{
	background-color:$pri_cl;
	color:#ffffff;
	&:hover{
    	background-color:$pri_dark_cl;
  	}
}

.btn--gray {
	background-color:$grayscale_cl;
	color:#ffffff;
	&:hover{
    	background-color:$pri_dark_cl;
  	}
}

.btn.btn-disable {
    background-color: #ADC8C5;
}

.btn_block {
	display:block;
	width:100%;
	whitespace:normal;
}
//================== Button Sizes =====

// Button regular size 50px
.btn--rg {
	height:50px;
	line-height:50px;
}


// Button Smaller size 40px
.btn--sm {
	height:40px ;
	line-height:40px 
}








