// set general breakpoints
$lg-media:1200px;
$md-media:$lg-media - 1px;  //1199px
$mds-media:992px;
$sm-media: $md-media - 1px; //991px
$sms-media:768px;
$xs-media:$sm-media - 1px; //767px
$phone-media:480px;
$phones-mdeia:$phone-media - 1px;

//phone


// set specific devices
//Apple

$ipad-width:768px
$ipad-height:1024px

$i6p-width:414px
$i6p-height:736px

$i6-width:375px
$i6-height:667px

$i5-width:320px
$i5-height:568px

//Samsung
$galaxy-tab-width:800px
$galaxy-tab-height:1200px

$galaxy-note-width:360px
$galaxy-note-height:640px

//=========================================================////

//使用方式：
//先針對media queries的width設為變數
//

$pc-media:960px;
$pcs-media:959px;
$pad-media:760px;
$pads-media:759px;
$phone-media:480px;
$phones-media:479px;

/*把變數帶入mixin中，此mixin只就單純把media queries寫到我的mixin中，
並且使用我上面設立的變數來調動media queries的width*/

        //電腦
@mixin pc-width() {
    @media all and (min-width: $pc-media) {
        @content;
    }
}

//平板
@include pad-width() {
    @media all and (min-width: $pad-media) and (max-width: $pcs-media) {
        @content;
    }
}

//小平板
@include small-pad-width() {
    @media all and (min-width: $phone-media) and (max-width: $pads-media) {
        @content;
    }
}

//手機
@include phone-width() {
    @media all and (max-width: $phones-media) {
        @content;
    }
}

//實際引用
.div1 {
    //電腦版
    @include pc-width {
        padding: 20px;
    }
    //平板
    @include pad-width {
        padding: 10px;
    }
    //小平板
    @include small-pad-width {
        padding: 5px;
    }
    //手機
    @include phone-width {
        padding: 0px;
    }
}

.div2 {
    //電腦版
    @include pc-width {
        margin: 20px;
    }
    //平板
    @include pad-width {
        margin: 10px;
    }
    //小平板
    @include small-pad-width {
        margin: 5px;
    }
    //手機
    @include phone-width {
        margin: 0px;
    }
}

///上面的mixin的延伸
//繼續延伸上面的media queries 的mixin code
//padding responsive的mixin
    @mixin responsive-padding($pc, $pad, $small-pad, $phone) {
    //電腦版
    @include pc-width {
        padding: $pc;
    }
    //平板
    @include pad-width {
        padding: $pad;
    }
    //小平板
    @include small-pad-width {
        padding: $small-pad;
    }
    //手機
    @include small-pad-width {
        padding: $phone;
    }
}

//margin responsive的mixin
@mixin responsive-margin($pc, $pad, $small-pad, $phone) {
    //電腦版
    @include pc-width {
        margin: $pc;
    }
    //平板
    @include pad-width {
        margin: $pad;
    }
    //小平板
    @include small-pad-width {
        margin: $small-pad;
    }
    //手機
    @include small-pad-width {
        margin: $phone;
    }
}

.div1 {
    //＠include responsive-padding(電腦,平板,小平板，手機)   帶入4個padding的值
    @include responsive-padding(20px, 10px, 5px, 0px);
}
.div2 {
    //＠include responsive-margin(電腦,平板,小平板，手機)   帶入4個margin的值
    @include responsive-margin(20px, 10px, 5px, 0px);
}






