.primary_header{
	position: relative;
	height: 80px;
	padding:26px 0;
	background-color: $grayscale_dark_cl;
	z-index:$zindex_navbar;
	box-sizing:border-box;
	
	
	}

.header_brand{
	float:left;
	width: 60px;
	height: 32px;
	background:url(../img/logo.png) no-repeat;
	background-size:60px auto;
	}	

.header_account{
	float:left;
	padding: 23px 17px;
	margin-top: -26px;
	position: relative;
	cursor:pointer;
	& .img_container{
		float:left;
		
	}

	&:hover ul.my_account_menu{
			display:block;
			// top: 80px;
			// transition: all .3s;
			z-index:5;
		}

}
a.header_user_name{
	display:inline-block;
	padding-left: 12px;
	line-height: 35px;
	white-space:no-wrap;
	font-weight: $base_font_weight_bold;
	& i{
		margin-left: 8px;
	}


}

		
ul.my_account_menu{
	display:none;
	position: absolute;
	overflow:hidden;
	left: 0;
	top: 80px;
	background: $grayscale_dark_cl;
	z-index: -3;
	& .menu_item{
		& a{
			width: 100%;
			padding:0 20px;
			color:$base_white;
			
		}
		line-height:40px;
		white-space:no-wrap;
		text-align:left;
		height: 40px;
		
		&:hover{
			background-color:$grayscale_cl;
		}
	}

} //my_account_menu ends
		



