body{
	font-family: $base_font_family;
	color:$grayscale_dark_cl;
	font-size: $base_font_size;
	line-height:$base_line_height;
	background-color:$grayscale_6;
	box-sizing:border-box;
	font-weight: $base_font_weight;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:greyscale;

}
a{
	text-decoration:none;
	color:$grayscale_dark_cl;
}
h1{
	font-size: $xlg_font;
	font-weight: 900;
}
h2{
	font-size: $lg_font;
	font-weight: 900;
}
h3{
	font-size: $md_font;
	font-weight: 900;
}
p {
	font-size:$rgs_font;
	color:$grayscale_dark_cl;
	font-weight:500;
}
input::-webkit-input-placeholder{
	color:$grayscale_dark_cl;
}

input.dashboard_input {
	background:$base_white;
}

ul {
	list-style:none;
	padding-left:0;
}

div {
	 @include prefix((
       box-sizing:border-box
        ),moz webkit ms o);
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

// ======== Grid 14 ==============
.container_lg {
		margin-right: auto;
	    margin-left: auto;
	    padding-left: 15px;
	    padding-right: 15px;

	    
		@media (min-width: 768px) {
			width:750px;
		}
		@media (min-width: 992px) { 
	    	width:1130px; 
	    }

	}



//=======================

.no_pad {
	padding-left:0 !important;
	padding-right:0 !important;
}

// ============== round corners =====================

.round_corner {
	border-radius:$base_border_radius;
}
.round_corner-bottom {
	border-bottom-left-radius:$base_border_radius;
	border-bottom-right-radius:$base_border_radius;

}

// ============== column spaces =====================

.col_space--sm{
	padding-left:$space_sm;
	padding-right: $space_sm;
}



// ============== row spaces ========================

// .row_space-top--XX
.row_space-top--xs {
	margin-top:$space_xs;
}
.row_space-top--md{
	margin-top: $space_md;
}

// .row_space-bottom--XX
.row_space-bottom--md {
	padding-bottom:$space_md;
}

// .row_space--XX
.row_space--xs {
	padding-top:$space_xs;
	padding-bottom:$space_xs;
	}
.row_space--sm{
	padding-top:$space_sm;
	padding-bottom:$space_sm;
}
.row_space--md {
	padding-top:$space_md;
	padding-bottom:$space_md;
}

.row_space--lg {
	padding-top:$space_lg;
	padding-bottom:$space_lg;
}



// ============= Hide & Show ==============

.hidden {
	display:none !important;
}