include ../modules/head.jade

block body
	block body_class
			body
		- console.log("user from three_columns_sidebar.jade ",user);
		block menu
		block sidebar
		block content
			h1 This is default content in three columns sidebar jade