extends ../templates/layout.jade

append body

	block sidebar
		h1 sidebar
		//- Code of the profile edit mode sidebar
		
block content
	block title
		h1 title
		//-  h1 edit profile
	block main
		h1 main






	//- 	link(rel="stylesheet"  href="/css/dashboard.css")
	//- body.dashboard
	//- 	-
	//- 		var type = user.custom._profile.type;
	//- 		var email = user.custom._profile.name;
	//- 		// if(typeof user.custom == 'object'){
	//- 		// 	if(user.custom._profile.type == 'Company'){
	//- 		// 		type = 'company';	
	//- 		// 	}else if(user.custom._profile.type == 'Talent'){
	//- 		// 		type = 'talent';	
	//- 		// 	}
	//- 		// }else{
	//- 		// 	type = 'default';
	//- 		// }
	//- 	block main_menu
	//- 		include ../modules/menu.jade
	//- 			//- @Todo(20160414): 判斷user.custom裡面是不是有_company或_talent
	//- 			//- { custom: { _company: '132' },
	//- 			//- pwd: 'company@gogo',
	//- 			//- email: 'company@gogo',
	//- 			//- name: 'company@gogo',
	//- 			//- system_parameter: 1,
	//- 			//- _id: '570f70b71cae405b0e8eca17',
	//- 			//- function_crud: [] }







