doctype html
html
	head
		title= title
		meta(charset='UTF-8')
		link(rel='stylesheet', href='/css/style.css')
	body
		block main_menu
		block content
		block form
		//- include menu.jade
		//- #info
		//- 	include ../mixin/profile.jade
