@import "../base/_variables.scss";
@import "../base/_mixins.scss";

.container{
		@include prefix((
			background:url('../../img/logo_background.jpg') no-repeat,
			background-position:center bottom,
			background-size:100% auto
			),webkit moz );
		height: 100vh;
}
.brand_container{
	width: 48%;
	min-width:300px;
	padding:50px 0px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	& img{
		width:100%;
		max-width:187px;
		min-width:130px;
		height: auto;
		display:block;
		margin-left: auto;
		margin-right: auto;
	}
}

.container #login_form{
	padding-top: 50px;
	text-align:center;
	& .input_single{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		& input::-webkit-input-placeholder,input:-ms-input-placeholder{
			color:$grayscale_dark_cl;
		}
	}
	& .btn{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		background-color: $pri_cl;
		color:$base_white;
		height: 50px;
		margin-top: 20px;
		line-height: 50px;
		font-size: $rgs_font;
	}
	& .forget_pwd{
		display:none;
		width: 300px;
		margin-top: 20px;
		margin-left: 28%;
		text-align:left;
		font-size: $base_input_font_size;
	}
}