//- This file needs member role from DB to show the different menu function list 
-
	console.log("user from menu.jade11111:",user);
	//- // var profile = company;
	//- // // var type = company.type;
	var type = "Company";


header.primary_header.zindex--300
	.container
		.row
			.col-md-12
				.header_brand.pull_left.clearfix
					a(href='/dashboard')
				.header_account.pull_right
					.img_container.round_container.round_container--sm
						img(src='/#{user.custom._profile.pic}',alt='profile')
					a.header_user_name.base_white(href='#') #{user.custom._profile.username}
						//- a.header_user_name.base_white(href='#') #{user.custom._profile.username}
						i(aria-hidden="true").fa.fa-chevron-down
					ul.my_account_menu.menu_dropdown.round_corner-bottom
						li.menu_item
							a(href='#') My&nbspAccount
						li.menu_item
							a(href='#') Settings
						li.menu_item
							a(href='#') Privacy&nbspPolicy
						li.menu_item
							a(href='/logout') Logout
		
nav.dashboard_menu.zindex--200
	.container
		.row
			.col-md-12.no_pad
				if (type == "Company") 
					ul.menu.col-md-8.no_pad
						li.menu_item
							a(href='#') Profile
							ul.sub_menu.menu_dropdown
								li.menu_item 
									//- a() View Profile
									a(href='/companies/'+user.custom._profile.username) View Profile
								li.menu_item 
									a(href='/companies/profile/edit') Edit Profile
						li.menu_item 
							a(href='/search') Find Pingers
						li.menu_item 
							a(href='#') Projects
						li.menu_item
							a(href='#') Resources
						li.menu_item
							a(href='#') More
							ul.sub_menu.menu_dropdown
								li.menu_item 
									a(href='#') More1
								li.menu_item 
									a(href='#') More2

					.pull_right
						a.btn.btn--pri.btn--sm.row_space-top--xs(href='/companies/profile/edit') Edit Profile
				else if (type == "Talent")
					ul.menu
						li.menu_item Awards/Races
						li.menu_item Project History
						li.menu_item
							a(href='/logout') Logout

				else 
					h2 nothing la