// =============== Quote Items =====================
.quotation {
    p {
        font-family: 'Avenir-BlackOblique';
        font-style: oblique;
        font-size: $rgs_font;
        font-weight: 900;
        padding: 2px 0px 2px 11px;
        border: 1px solid transparent;
        border-left: 3px solid $pri_cl;
        &:before,
        &:after {
            content: " â€ ";
        }
    }
}

// =============== List items =======================
.list {
    & .list__item {
        font-size: $rgs_font;
        .lnr {
            margin-right: 8px;
            color: $third_cl;
        }
    }
}

//================== Icons with titles ====================
.icon_set {
    & i.lnr {
        color: $third_cl;
        position: relative;
        top: 5px;
    }
    & span {
        padding: 0 20px 0 10px;
        color: $grayscale_dark_cl;
    }
}

.icon_set--rg {
    & i.lnr {
        font-size: 24px;
        line-height: 24px;
        top: 5px;
    }
    & span {
        padding: 0 20px 0 10px;
        font-size: 14px;
        line-height: 14px;
    }
}

.icon_set--sm {
    & i.lnr {
        font-size: 18px;
        line-height: 18px;
        top: 3px;
    }
    & span {
        padding: 0 20px 0 10px;
        font-size: 16px;
        line-height: 16px;
    }
}

.icon_set.icon_set--gray {
    & i.lnr {
        color: $grayscale_dark_cl;
    }
}

.icon_set-edit-heading {
    position: relative;
    margin-left: -32px;
    & i.lnr {}
    & span {
        font-size: $md-font;
    }
}

// =============== social icons ===========================
.social_icons {
    & ul {
        float: right;
    }
    & li {
        width: 35px;
        height: 35px;
        float: left;
        display: block;
        margin-right: 10px;
        & .fa {
            font-size: 20px;
            color: #FEFEFE;
            display: block;
            line-height: 35px;
            text-align: center;
        }
    }
    & .icon_fb {
        background-color: #547BBC;
    }
    & .icon_tw {
        background-color: #78CBEF;
    }
    & .icon_ld {
        background-color: #1485C7;
    }
    & .icon_site {
        background-color: #4A90E2;
    }
    & li:last-child {
        margin: 0
    }
}

// ============== Tags ======================
.tag_group {
    margin-top: $space_sm;
}

.tag_single {
    float: left;
    position: relative;
}

// == Tags Edit Group ======================
.tag_group.edit_tag_group {
    .tag {
        padding-right: 50px;
    }
    i {
        display: block;
        height: 40px;
        width: 30px;
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 20px;
        padding-right: 10px;
        font-size: $base_font_size;
        cursor: pointer;
    }
}

// ================ Tags =============================
.tag {
    float: left;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 1px 15px;
    border-radius: 20px;
    margin-right: 8px;
    margin-top: 8px;
    font-size: 16px;
    &:last-child {
        margin-right: 0px;
    }
}

// ================ Tabs =============================
.nav_tabs {
    border-bottom: 1px solid $grayscale_light_cl;
    > li {
        width: 33%;
        float: left;
        // Make the list-items overlay the bottom border
        margin-bottom: -1px;
        // Actual tabs (as links)
        > a {
            margin-right: 2px;
            line-height: $base_line_height;
            border: 1px solid transparent;
            color: $grayscale_light_cl;
            box-sizing:border-box;
            display:block;
            text-align:center;
            &:hover {
                border-bottom: 1px solid $grayscale_dark_cl;
                color: $grayscale_dark_cl;
            }
        }
        // Active state, and its :hover to override normal :hover
        &.active > a {
            &,
            &:hover,
            &:focus {
                color: $grayscale_dark_cl;
                border: 1px solid transparent;
                border-bottom-color: $grayscale_dark_cl;
                cursor: default;
            }
        }
    }
}

// =========== Search Bar =========
.searchbar {
    margin-top: $space_sm;
    margin-bottom: $space_xs;
    background: $base_white;
    width: 100%;
    border-radius: $base_border_radius;
    .btn {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}

.search__input__single,
.submit_pinger,
.search__input__single select,
.search__input__single input[type="text"] {
    margin-top: 0;
    margin-bottom: 0;
}

.search_extra_setting_bar {
    a {
        color: $pri_cl;
        font-size: $sm_font;
        text-decoration: underline;
        margin-left: $space_xs;
    }
}

// ================= Pinger Card =========
.pinger_search_inner .col-md-3 {
    padding-right: 0;
}

.pinger_card {
    float: left;
    display: block;
    position: relative;
    background: $base_white;
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: $space_lg;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
    transition: all 0.25s;
    // Pinger card Hover Mask
    &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        .profile__mask {
            opacity: 1;
        }
    }
    // Pinger card hover mask ends
}

.pinger__card__element {
    float: left;
    clear: both;
    &.profile__photo {
        position: absolute;
        top: -40px;
        left: 50%;
        margin-left: -50px;
        width: 100px;
        height: 100px;
        display: block;
        border: 3px solid $grayscale_6;
        z-index: 10;
    }
    &.profile__name {
        color: $pri_cl;
        font-weight: 900;
        text-align: center;
        display: block;
        float: none;
    }
    &.profile__title {
        text-align: center;
        display: block;
        float: none;
    }
    &.profile__card__tags {
        text-align: center;
        .tag-list {
            text-align: center;
        }
        .tag {
            display: inline-block;
            text-align: center;
            padding: $space_xxs $space_xs;
            height: auto;
            line-height: initial;
            border: 1px solid $pri_light_cl;
            color: $pri_cl;
            font-size: $xs_font;
        }
    } // profile card tags ends
    &.profile__card__intro {
        padding: $space_xs 0;
        p {
            color: $grayscale_cl;
            font-size: $sm_font;
        }
    }
    &.profile__card__info {
        padding: 5px 15px 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: $grayscale_8;
        span {
            font-size: $sm_font;
        }
    } // profile card info
    &.profile__mask {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.9);
        opacity: 0;
        transition: all 0.25s;
        .btn {
            margin: 0 auto;
            width: 200px;
            display: block;
            margin-top: 130px;
            whitespace: no-wrap;
        }
    }
}

//======= Pinger Card Ends ===================
