//- This file needs member role from DB to show the different menu function list 

header.ping_header
	.container
		.logo.pull_left
			img(src='../img/logo.png',alt='logo')
		.account.pull_right
			.img_container.round_container
				img(src='../img/profile_img.jpg',alt='profile')
			a(href='#').btn Ping Studio
				i(aria-hidden="true").fa.fa-chevron-down
			ul.menu
				li.menu_item
					a(href='#') My Account
				li.menu_item
					a(href='#') Settings
				li.menu_item
					a(href='#') Privacy Policy
.menu_container
	.container
		-
			console.log("jade",type);
		if (type == "company")
			ul.menu.pull_left
				li.menu_item.menu_item_has_child
					a(href='#') Profile
					ul.sub_menu
						li.menu_item 
							a(href='#') View Profile
						li.menu_item 
							a(href='#') Edit Profile
				li.menu_item 
					a(href='#') Find Pingers
				li.menu_item 
					a(href='#') Projects
				li.menu_item
					a(href='#') Resources
				li.menu_item.menu_item_has_child 
					a(href='#') More
					ul.sub_menu
						li.menu_item 
							a(href='#') More1
						li.menu_item 
							a(href='#') More2
			.pull_right
				a.btn.pri_cl_bg.base_white(href='#') Edit Profile
		else if (type == "talent")
			ul
				li Sys Information
				li Basic Profile Information
				li Education Information
				li Talent Information
				li Work Experience
				li Awards/Races
				li Project History
		else 
			h2 nothing la
//- if (mem_type == "company")
//- 	li 
//- 		a(href='/find_talent') Find Talent
//- else if (mem_type == "talent")
//- 	li 
//- 		a(href='/find_project') Find Project
//- li 
//- 	.setting
//- 		span Setting
//- 		ul
//- 			li My Account
//- 				#MyAccount
//- 					ul
//- 						li Change PWD
//- 			li Terns&Condition
//- 			li Version
//- 			li 
//- a(href='/logout') Log out
