//- This file needs member role from DB to show the different menu function list 

header.ping_header.col-md-12
	.container.col-md-8.col-centered
		.logo.pull_left
			a(href='/dashboard')
				img(src='/img/logo.png',alt='logo')
		.account.pull_right.col-md-3
			.img_container.round_container
				img(src='/#{user.custom._profile.pic}',alt='profile')
			a.base_white(href='#') #{user.custom._profile.username}
				i(aria-hidden="true").fa.fa-chevron-down
			ul.menu
				li.menu_item
					a(href='#') My&nbspAccount
				li.menu_item
					a(href='#') Settings
				li.menu_item
					a(href='#') Privacy&nbspPolicy
				li.menu_item
					a(href='/logout') Logout
			
.menu_container.col-md-12
	.container.col-md-8.col-centered
		if (type == "Company")
			ul.menu.pull_left.col-md-8
				li.menu_item.menu_item_has_child
					a(href='#') Profile
					ul.sub_menu
						li.menu_item 
							a(href='/companies/'+user.custom._profile.username) View&nbspProfile
						li.menu_item 
							a(href='/companies/profile/edit') Edit&nbspProfile
				li.menu_item 
					a(href='#') Find&nbspPingers
				li.menu_item 
					a(href='#') Projects
				li.menu_item
					a(href='#') Resources
				li.menu_item.menu_item_has_child 
					a(href='#') More
					ul.sub_menu
						li.menu_item 
							a(href='#') More1
						li.menu_item 
							a(href='#') More2

			.pull_right.col-md-4
				a.btn.pri_cl_bg.base_white(href='/companies/profile/edit') Edit&nbspProfile
		else if (type == "Talent")
			ul.menu
				li.menu_item Awards/Races
				li.menu_item Project&nbspHistory
				li.menu_item
					a(href='/logout') Logout

		else 
			h2 nothing la
//- if (mem_type == "company")
//- 	li 
//- 		a(href='/find_talent') Find Talent
//- else if (mem_type == "talent")
//- 	li 
//- 		a(href='/find_project') Find Project
//- li 
//- 	.setting
//- 		span Setting
//- 		ul
//- 			li My Account
//- 				#MyAccount
//- 					ul
//- 						li Change PWD
//- 			li Terns&Condition
//- 			li Version
//- 			li 
//- a(href='/logout') Log out
