.row.col-md-2
	.side_bar.base_white_bg.grayscale_dark_cl
		ul.menu
			li.menu_item.focus
				i.lnr.lnr-smile
				a(href='/companies/profile/edit/') Company&nbspBranding
			li.menu_item
				i.lnr.lnr-license 
				a(href='/companies/profile/edit?section=detail') Detail/Description
			li.menu_item
				i.lnr.lnr-earth 
				a(href='/companies/profile/edit?section=social') Social&nbspNetworks