.row.col-md-2
	.side_bar.base_white_bg.grayscale_dark_cl
		ul.menu
			a(href='/companies/profile/edit/')
				li.menu_item.lnr.lnr-smile.focus Company&nbspBranding
				
			a(href='/companies/profile/edit?section=detail')
				li.menu_item.lnr.lnr-license Detail/Description
				
			a(href='/companies/profile/edit?section=social')
				li.menu_item.lnr.lnr-earth Social&nbspNetworks