.row
	.side_bar-left.col-md-2
		.base_white_bg.grayscale_dark_cl
			ul.side_bar_menu.menu
				li.menu_item.icon_set.icon_set--sm.focus
					a(href='/companies/profile/edit/')
						i.lnr.lnr-smile
						span Company&nbspBranding
				li.menu_item.icon_set.icon_set--sm.icon_set
					a(href='/companies/profile/edit?section=detail')
						i.lnr.lnr-license
						span Detail/Description
				li.menu_item.icon_set.icon_set--sm
					a(href='/companies/profile/edit?section=social')
						i.lnr.lnr-earth
						span Social&nbspNetworks