include ../modules/head
		link(rel="stylesheet"  href="/css/profile.css")
	body.profile.edit.social
		-
			var profile = user.custom._profile;
			var type = user.custom._profile.type;
		script(type='text/javascript',src='../../js/company_profile_edit.js').
		
		block main_menu
			include ../modules/menu.jade
		block sideBar
			include ../modules/sideBar.jade
		block content
			.content_container
				.container
					h2 Edit Profile
					form(id='social_network')
						section.social_network.edit_section
							.title
								h3 Social Networks
								a(href='#')
									span.reminder i
							.input_container
								a.btn(href="#")
									
								a.btn(href="#")
									
								a.btn(href="#")
									
								a.btn(href="#")
									
							a.btn.btn_pri.cancel(href='/dashboard') cancel
							a.btn.btn_pri.save#update_btn.disable(data-router='/companies/'+user.email+'/edit',href='javascript:void(0)') save&nbspchanges



		