include ../modules/head
		link(rel="stylesheet"  href="/css/profile.css")
	body.profile.edit.detail
		-
			var profile = user.custom._profile;
			var type = user.custom._profile.type;
		script(type='text/javascript',src='../../js/company_profile_edit.js').
		
		block main_menu
			include ../modules/menu.jade
		block sideBar
			include ../modules/sideBar.jade
		block content
			.content_container
				.container
					h2 Edit Profile
					form(id='details_description',action='')
						section.company_info.edit_section
							.title
								h3 Company Information
								a(href='#')
									span.reminder i
							.input_container
								.row.industry
									.select_container
										label Industry
										select
											option(value="0") Sport
											option(value="1") Tech
											option(value="2") Transport
								.row.location
									.select_container
										label Location
										select
											option(value="0") Taiwan
											option(value="1") Singapore
											option(value="2") Boracay
											option(value="3") Bali
									.select_container
										select
											option(value="0") Taipei
											option(value="1") Taichung
											option(value="2") 
											option(value="3")
								.row.size
									.select_container
										label Company Size
										select
											option(value="0") 1-10
											option(value="1") 11-20
											option(value="2") 21-30
											option(value="3") 31-40
								.row.years
									.select_container
										label Year of Establishment
										select
											option(value="0") 0-3
											option(value="1") 4-6
											option(value="2") 7-10
											option(value="3") 10UP
						section.company_instro.edit_section
							.title
									h3 Introduce Your Company
							.input_container
								.input_text_container
									label Who you are
									textarea(rows='10',cols='40').input
										|#{profile.description}
								.input_text_container
									label What you do
									textarea(rows='10',cols='40').input
										|#{profile.description}
								a.btn.btn_pri.cancel(href='/dashboard') cancel
								a.btn.btn_pri.save#update_btn.disable(data-router='/companies/'+user.email+'/edit',href='javascript:void(0)') save&nbspchanges
	
					//- form(id='social_network')
					//- 	section.social_network.edit_section
					//- 		.title
									h3 Social Networks
					//- a.btn cancel
					//- a.btn save&nbspchanges



		