extends ../templates/three_columns_sidebar.jade

block css
	link(rel="stylesheet"  href="/css/dashboard.css")
	link(rel="stylesheet" ,href='/css/dnd.css')
block script
	script(type='text/javascript',src='/js/angular-drag-and-drop-lists.js')
	script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js")
	script(src ="/js/select.js")
	script(src ="/js/location.js")
	script(type='text/javascript',src='/js/company_profile_edit.js')
	script.
		var data = !{JSON.stringify(user.custom._profile)};
block body_class
	body.edit.detail(ng-app="profile_edit_app",ng-controller='detail_controller',ng-init='initial()')
		-
			var profile = user.custom._profile;
			var type = user.custom._profile.type;
		
		
block menu
	include ../modules/menu.jade

block content
	.container-fluid
		.row
			//- Left Column /////////////
			.side_bar-left.col-md-2.clearfix.no_pad
				.base_white_bg.grayscale_dark_cl
					ul.side_bar_menu.menu
						li.menu_item.icon_set.icon_set--sm
							a(href='/companies/profile/edit/')
								i.lnr.lnr-smile
								span Company&nbspBranding
						li.menu_item.icon_set.icon_set--sm.icon_set.active
							a(href='/companies/profile/edit?section=detail')
								i.lnr.lnr-license
								span Detail/Description
						li.menu_item.icon_set.icon_set--sm
							a(href='/companies/profile/edit?section=social')
								i.lnr.lnr-earth
								span Social&nbspNetworks
			//- Center Column //////////////
			.content_container-three-col.col-md-7
				h1 Edit Profile
				form(name='details_description',id='details_description',action='',enctype='multipart/form-data')
					//- Company Info Section //////////
					.edit_company_info.edit_group#company_info
						.edit__title__bar
							h3.icon_set.icon_set-edit-heading.icon_set--rg  
								i.lnr.lnr-smile
								span General Information 
							a.hint(href='#')
										.hint__inner
											h5 How to make your profile shine
											p If you own an Iphone, you’ve probably already worked out how much fun it is to use it to watch movies-it has that nice big screen, and the sound quality is surprisingly good too. Now imagine if you knew how to download Iphone movies without having to pay.
						.edit__input__inner
							//- Industry //////////
							.edit__input.input_single.input_select.col-md-9
									label Industry <br/>
									select(name='industry',id ='industry',ng-model="changedIndustry")
										option(value='selected.industry.value') {{selected.industry.name}}
										option(ng-selected="selected.industry.value == option.value",ng-repeat="option in industryOptions.options",value="{{option.value}}") {{option.name}}
							.edit__input.input_single.input_select.col-md-9
									.row
										.col-md-12
											label Location <br/>
										.input_inline.col-md-8
											//- ui-select(ng-model='selectedCountry')
											//- 	ui-select-match(placeholder='Select a country or enter one') {{selectedCountry}
											//- 	ui-select-choices(repeat="country in defaultCountry")
											//- 		span(ng-bind-html="country | highlight: $select.search")
											select(name='country',id="country",ng-init="populateCountries('country','city')",onchange="populateCity('country','city')")
										.input_inline.col-md-4
											select(name='city', id = "city")
												
							.edit__input.input_single.input_select.no_label.col-md-5
									
							.edit__input.input_single.input_select.col-md-9
									label Company Size <br/>
									select(name='size',id ='size',ng-model = "changedSize")
										option(value='selected.size.value') {{selected.size.name}}
										option(ng-selected="seleted.size.value == option.value",ng-repeat="option in sizeOptions.options", value="{{option.value}}") {{option.name}}
							.edit__input.input_single.input_select.col-md-9
									label Year of Establishment <br/>
									select(name='establish_year',id = "year",ng-model='changedYear')
										option(ng-selected=" selected.year.value == option.value",ng-repeat="option in yearOptions.options",value="{{option.value}}") {{option.name}}
					//- Company Tags Section /////////
					.edit_company_info.edit_group#company_tags
						.edit__title__bar
							h3.icon_set.icon_set-edit-heading.icon_set--rg  
								i.lnr.lnr-smile
								span Company Tags
						.edit__input__inner
							.edit__input.input_single.col-md-9
								label Company Culture
								input(type='text',ng-model='culture',ng-keyup="$event.keyCode == '13' && update_tags('culture')",placeholder='Create some tags for your company! Hit Enter to add tag')
								.tag_group.edit_tag_group
									.tag_single(ng-repeat='culture in profile.culture')
										a.tag.base_white.pri_cl_bg {{culture}}
										a(ng-click='delete_tags(profile.culture,$index)')
											i.lnr.lnr-cross.base_white
							.edit__input.input_single.col-md-9
								.input_single
									label Company Technology
									input(type='text',ng-model='technology',ng-keyup="$event.keyCode == '13' && update_tags('technology')",placeholder='Enter the technology tags you wanna add')
									.tag_group.edit_tag_group
										.tag_single(ng-repeat='technology in profile.technology')
											a.tag.base_white.pri_cl_bg {{technology}}
											a(ng-click='delete_tags(profile.technology,$index)')
												i.lnr.lnr-cross.base_white
					.edit_company_info.edit_group#edit_company_intro_section
						.edit__title__bar
							h3.icon_set.icon_set-edit-heading.icon_set--rg  
								i.lnr.lnr-smile
								span About Your Company
						.edit__input__inner
							.edit__input.input_single.col-md-9
								.input_single#who_u_r
								label Who you are

							//- Add New Content Menu Bar
							.new_content.icon_set.icon_set--gray.icon_set--rg
								.add__content.clearfix#add__content(ng-class='{hidden:showWhoMenu}')
									a.add__content__btn.btn(ng-click="toShow('who')") Add Content
								.add__content__menu.clearfix.hidden#add__content__menu(ng-class='{editAddContentShow:showWhoMenu}')
									a.cancel__content__btn(ng-click="toHide('who')")#abord_add_content
									ul
										li
											a(ng-click="genContent($event,'t','who')")
												.icon_set.icon_set--rg
													i.lnr.lnr-text-align-left
													span text
										li
											a(ng-click="genContent($event,'l','who')")
												.icon_set.icon_set--rg
													i.lnr.lnr-list
													span list
										li
											a(ng-click="genContent($event,'q','who')")
												.icon_set.icon_set--rg
													i.lnr.lnr-pushpin
													span quote

							.new__content__input__group.col-md-9

								//- ul(dnd-list="who_u_r")
								//- 	li(ng-repeat="doc in who_u_r",dnd-draggable='doc',dnd-moved='who_u_r.splice($index,1)',dnd-effect-allowed='move',ng-init="current = doc")
											content-directive
								ul#content_pool_of_who(dnd-list="who_u_r")
									li.new__content__input__single.clearfix(ng-repeat="doc in who_u_r",ng-init=" current = doc ",dnd-draggable='doc',dnd-moved='who_u_r.splice($index,1)',,dnd-effect-allowed='move')
										content-directive
										.new__content__input__function__bar
											a.new__content__move__btn.lnr.lnr-move.grayscale_dark_cl
											a.new__content__trash__btn.lnr.lnr-trash.grayscale_dark_cl(ng-click='dropSection($event)')

									//- Following is the original code from Janet
									//-
									//- li.new__content__input__single.clearfix
									//- 	.new__content__input.new__content__input-text(data-type='text')
									//- 		textarea
									//- 	.new__content__input__function__bar
									//- 		a.new__content__move__btn.lnr.lnr-move.grayscale_dark_cl
									//- 		a.new__content__trash__btn.lnr.lnr-trash.grayscale_dark_cl(ng-click='dropSection($event)')
									//- li.new__content__input__single.clearfix(data-type='list')
									//- 	.new__content__input.new__content__input-list(contenteditable="true")(data-type='list')
									//- 		ul
									//- 			li 123
									//- 			li 234
									//- 	.new__content__input__function__bar
									//- 		a.new__content__move__btn.lnr.lnr-move.grayscale_dark_cl
									//- 		a.new__content__trash__btn.lnr.lnr-trash.grayscale_dark_cl(ng-click='dropSection($event)')
									//- li.new__content__input__single.clearfix
									//- 	.new__content__input.new__content__input-quote(data-type='quote')
									//- 		textarea
									//- 	.new__content__input__function__bar
									//- 		a.new__content__move__btn.lnr.lnr-move.grayscale_dark_cl
									//- 		a.new__content__trash__btn.lnr.lnr-trash.grayscale_dark_cl(ng-click='dropSection($event)')
						.edit__input__inner
							.edit__input.input_single.col-md-9
								.input_single#what_u_do
								label What you do

							//- Add New Content Menu Bar
							.new_content.icon_set.icon_set--gray.icon_set--rg
								.add__content.clearfix#add__content(ng-class='{hidden:showWhatMenu}')
									a.add__content__btn.btn(ng-click="toShow('what')") Add Content
								.add__content__menu.clearfix.hidden#add__content__menu(ng-class='{editAddContentShow:showWhatMenu}')
									a.cancel__content__btn(ng-click="toHide('what')")#abord_add_content
									ul
										li
											a(ng-click="genContent($event,'t','what')")
												.icon_set.icon_set--rg
													i.lnr.lnr-text-align-left
													span text
										li
											a(ng-click="genContent($event,'l','what')")
												.icon_set.icon_set--rg
													i.lnr.lnr-list
													span list
										li
											a(ng-click="genContent($event,'q','what')")
												.icon_set.icon_set--rg
													i.lnr.lnr-pushpin
													span quote

							.new__content__input__group.col-md-9
								ul#content_pool_of_what(dnd-list = 'what_u_do')
									li.new__content__input__single.clearfix(ng-repeat="doc in what_u_do",ng-init="current = doc",dnd-draggable='doc',dnd-moved='what_u_do.splice($index,1)',,dnd-effect-allowed='move')
										content-directive
										.new__content__input__function__bar
											a.new__content__move__btn.lnr.lnr-move.grayscale_dark_cl
											a.new__content__trash__btn.lnr.lnr-trash.grayscale_dark_cl(ng-click='dropSection($event)')


					.btn_group.row_space-bottom--md.pull-right.col-md-6
							.col-md-5
								a.btn.cancel.btn--sm.btn--gray.btn_block(href='/dashboard') cancel
							.col-md-7.no_pad
								a.btn.btn_pri.save.btn--sm.btn--pri.btn_block#update_btn_first.disable(data-router='/companies/profile/edit',href='javascript:void(0)',ng-click="pack_details()") save changes			


			.col-md-3
				.profile_progress.round_corner.clearfix
					h5 Profile Completion
					span.profile__progress__percentage {{percentage}}
					.profile__progress__bar.progress_bar_container.round_corner
						#profile_progress_bar.progress_bar(ng-style="{width:percentage}") 

					p You can access to our full feature after you complete the profile.
					ul.progress__unfilled__list.clearfix
						li(ng-repeat="(key,value) in links").progress__unfilled__list__item
							a(href='{{value}}') {{key}}  


			