extends ../default/layout



block content
	case member
		when "company"
			h1 Welcome to Company Dashboard

		when "talent"
			h1 Welcome to Talent Dashboard
			
		default
			h1 hi
	include ../mixin/menu.jade

block form
	#logout_form
		form(method="post",action='logout')
			input(type='submit',value='bye')


	