extends ../default/layout

block main_menu
	include ../mixin/menu.jade
block content
	#content
		h6 mem_type is #{mem_type}
		case mem_type
			when "company"
				h1 Welcome to Company Dashboard
			when "talent"
				h1 Welcome to Talent Dashboard
			default
				h1 Hi Stranger , you don't have a mem_type
		#info
			h1 Info
			.brief_profile
				ul
					li Pic: I am pic
					li Name: I am your father
					li Industries: Star Wars
block form
	#form_container
		#logout_form
			form(method="post",action='logout')
				input(type='submit',value='bye')
		#show_users
			a(href='/users') show users





	