extends ../templates/layout.jade
block css 
	link(rel="stylesheet"  href="/css/search.css")
prepend body
	

block body_class
	body.profile.view
block menu
		//- include ../modules/menu.jade
block content
	section.searchbar_section
		.container_lg
			.row
				.searchbar.col-md-12.no_pad.clearfix
						form
							.search__input__single.input_select.input_single.col-md-4
								select(placeholder="Pinger Type")
									option(default value="default") Pinger Type
							.search__input__single.input_select.input_single.col-md-3
								select
									option(default value="default") Work Type
							.search__input__single.input_select.input_single.col-md-3
								select
									option(default value="default") Year of Experience
							button.submit_pinger.btn.btn--pri.btn--rg.col-md-2.no_pad Search
					.search_extra_setting_bar.pull-right
						a(href="#") Advance Search
						a(href="#") Set Defult Preference


	section.pinger_search_results
		.container_lg
			.row
				.col-md-12.no_pad
					.pinger_search_inner
						//- Pinger card
						.row
							.col-md-3
								.pinger_card
									.profile__photo.pinger__card__element.round_container.round_container--rg
										img(src='/img/alpaca.jpg')
									.profile__name.pinger__card__element Travis Hubbard
									.profile__title.pinger__card__element Frontend Developer
									.profile__card__tags.pinger__card__element
										ul.tag_list
											li.tag photoshop
											li.tag sketch
											ll.tag node.js
									.profile__card__intro.pinger__card__element
										p I am a multidisciplinary and versatile person who loves a challenge, thrives in a creative process and excels in project management...
									.profile__card__info.pinger__card__element
										.profile__info__element.profile__location.col-md-6.no_pad
											.icon_set.icon_set--sm
												i.lnr.lnr-calendar-full
												span Full-time
										.profile__info__element.profile__location.col-md-6.no_pad
											.icon_set.icon_set--sm
												i.lnr.lnr-map-marker
												span Taiwan
									.profile__mask.pinger__card__element
										a.btn.btn--pri.btn--rg Contact Ping!
							.col-md-3
								.pinger_card
									.profile__photo.pinger__card__element.round_container.round_container--rg
										img(src='/img/alpaca.jpg')
									.profile__name.pinger__card__element Travis Hubbard
									.profile__title.pinger__card__element Frontend Developer
									.profile__card__tags.pinger__card__element
										ul.tag_list
											li.tag photoshop
											li.tag sketch
											ll.tag node.js
									.profile__card__intro.pinger__card__element
										p I am a multidisciplinary and versatile person who loves a challenge, thrives in a creative process and excels in project management...
									.profile__card__info.pinger__card__element
										.profile__info__element.profile__location.col-md-6.no_pad
											.icon_set.icon_set--sm
												i.lnr.lnr-calendar-full
												span Full-time
										.profile__info__element.profile__location.col-md-6.no_pad
											.icon_set.icon_set--sm
												i.lnr.lnr-map-marker
												span Taiwan
									.profile__mask.pinger__card__element
										a.btn.btn--pri.btn--rg Contact Ping!
							.col-md-3
								.pinger_card
									.profile__photo.pinger__card__element.round_container.round_container--rg
										img(src='/img/alpaca.jpg')
									.profile__name.pinger__card__element Travis Hubbard
									.profile__title.pinger__card__element Frontend Developer
									.profile__card__tags.pinger__card__element
										ul.tag_list
											li.tag photoshop
											li.tag sketch
											ll.tag node.js
									.profile__card__intro.pinger__card__element
										p I am a multidisciplinary and versatile person who loves a challenge, thrives in a creative process and excels in project management...
									.profile__card__info.pinger__card__element
										.profile__info__element.profile__location.col-md-6.no_pad
											.icon_set.icon_set--sm
												i.lnr.lnr-calendar-full
												span Full-time
										.profile__info__element.profile__location.col-md-6.no_pad
											.icon_set.icon_set--sm
												i.lnr.lnr-map-marker
												span Taiwan
									.profile__mask.pinger__card__element
										a.btn.btn--pri.btn--rg Contact Ping!
							.col-md-3
								.pinger_card
									.profile__photo.pinger__card__element.round_container.round_container--rg
										img(src='/img/alpaca.jpg')
									.profile__name.pinger__card__element Travis Hubbard
									.profile__title.pinger__card__element Frontend Developer
									.profile__card__tags.pinger__card__element
										ul.tag_list
											li.tag photoshop
											li.tag sketch
											ll.tag node.js
									.profile__card__intro.pinger__card__element
										p I am a multidisciplinary and versatile person who loves a challenge, thrives in a creative process and excels in project management...
									.profile__card__info.pinger__card__element
										.profile__info__element.profile__location.col-md-6.no_pad
											.icon_set.icon_set--sm
												i.lnr.lnr-calendar-full
												span Full-time
										.profile__info__element.profile__location.col-md-6.no_pad
											.icon_set.icon_set--sm
												i.lnr.lnr-map-marker
												span Taiwan
									.profile__mask.pinger__card__element
										a.btn.btn--pri.btn--rg Contact Ping!
							.col-md-3
								.pinger_card
									.profile__photo.pinger__card__element.round_container.round_container--rg
										img(src='/img/alpaca.jpg')
									.profile__name.pinger__card__element Travis Hubbard
									.profile__title.pinger__card__element Frontend Developer
									.profile__card__tags.pinger__card__element
										ul.tag_list
											li.tag photoshop
											li.tag sketch
											ll.tag node.js
									.profile__card__intro.pinger__card__element
										p I am a multidisciplinary and versatile person who loves a challenge, thrives in a creative process and excels in project management...
									.profile__card__info.pinger__card__element
										.profile__info__element.profile__location.col-md-6.no_pad
											.icon_set.icon_set--sm
												i.lnr.lnr-calendar-full
												span Full-time
										.profile__info__element.profile__location.col-md-6.no_pad
											.icon_set.icon_set--sm
												i.lnr.lnr-map-marker
												span Taiwan
									.profile__mask.pinger__card__element
										a.btn.btn--pri.btn--rg Contact Ping!