extends ../default/layout

block content
	h1= title
	p Welcome to #{title}
block form
	#login_form
		form(type='multipart/form-data',method="post", action='/login')
			input#mem_acc(type='text',name="mem_acc", placeholder='Please enter your account here')
			br
			input#mem_pwd(type='text',name="mem_pwd", placeholder='Please enter your password here')
			br
			input(type='submit',value='hi')

