extends ../default/result_xxx_page_layout

block main_menu
	include ../mixin/menu.jade
block content
	#content
		h2 Result of #{item}
		form(action='',method='')
			table
				tr
					th Pic
					th Name (Link to Profile)
					th Talent in
					th Choice of Work
					th Years of Experience
					th Marked Btn (update flag)
					th Contact Ping Btn( Insert to DB)
					th Description
				tr
					td I am a Pic
					td Walter
					td Developer
					td Fulltime
					td 1 year
					td 
						a(href='#') Marked
					td 
						a(href='#') Contact Ping
					td Hohohohohohohoh
			//- input(type='submit',value='Find Talent!')
block form