h1 Testing
	h2 User
	ul 
		li 
			a(href="/users") Users
		li 
			a(href="/users/new") New User
		li Create User
			form(method="post", action='/users')
				| Account:
				input(type='text',name="acc", placeholder='Please enter your account here' value='company@ping.com.sg' size='40')
				br
				| Password:
				input(type='text',name="pwd", placeholder='Please enter your password here' value='qwer1234')
				br
				| Username:
				input(type='text',name="username", placeholder='Please enter your username here' value='Ping')
				br
				| Type:
				input(type="radio" name="member_type" value="company" checked)
				| Company
				input(type="radio" name="member_type" value="talent")
				| Telent
				br
				input(type='submit',value='Create')
		//- li Delete User
		//- 	form(method="post", action='/users')
		//- 		input(type="hidden" name="_method" value="delete")
		//- 		input(type='text',name="acc", placeholder='Please enter your password here' value='company')
		//- 		button(type='submit') Delete
		//- li Update User
		//- 	form(method="post", action='/users')
		//- 		input(type="hidden" name="_method" value="put")
		//- 		input(type='text',name="acc", placeholder='Please enter your password here' value='company')
		//- 		button(type='submit') Update

	h2 Profiles
	ul 
		li 
			a(href="/companies") Companies
		li 
			a(href="/talents") Talents
		li 
			a(href="/positions") Positions
		li 
			a(href="/skills") Skills
		
	h2 Apis
	ul
		li
			a(href="/api/users") api/users
		li
			a(href="/api/dashboard") api/dashboard

	h2 Others
	ul
		li 
			a(href="/mail") Send Mail
		li 
			//- form#post_form(method="post" ,enctype="multipart/form-data",action="#{result._id}")
			form#post_form(method="post" ,enctype="multipart/form-data",action="/")
				//- input(type="hidden" name="_method" value="put")
				input(type='text',name='acc')
				br
				input(type='file',name='uploadFile')
				br
				button#post_btn Send

script(src='/js/jquery-2.2.3.js')
script(type='text/javascript').
	$(document).ready(function() {
		$('#post_btn').click(function() {

			var myData = new FormData();
			myData.append("key", "value");
			myData.append("key2", "value2");

			myData.append('uploadfile', $('input[type=file]')[0].files[0]); 
			$.ajax({
					url: "/",
					type: "POST",
					data: myData,
					crossDomain: true,
					contentType: "multipart/form-data",
					processData: false,
				})
				.done(function response(data) {
					console.log(data);
				});
		});
		
	});





