h1 Testing
	h2 User
	ul 
		li 
			a(href="/users") Users
		li 
			a(href="/users/new") New User
		li Create User
			form(method="post", action='/users')
				input(type='text',name="acc", placeholder='Please enter your account here' value='company@gogo')
				br
				input(type='text',name="pwd", placeholder='Please enter your password here' value='company@gogo')
				br
				input(type='submit',value='Create')
		li Delete User
			form(method="post", action='/users')
				input(type="hidden" name="_method" value="delete")
				input(type='text',name="acc", placeholder='Please enter your password here' value='company')
				button(type='submit') Delete
		li Update User
			form(method="post", action='/users')
				input(type="hidden" name="_method" value="put")
				input(type='text',name="acc", placeholder='Please enter your password here' value='company')
				button(type='submit') Update

	h2 Company
	ul 
		li 
			a(href="/companies") companies
		li Create company
			form(method="post", action='/companies')
				input(type='text',name="acc", placeholder='Please enter your account here' value='company@gogo')
				br
				input(type='text',name="pwd", placeholder='Please enter your password here' value='company@gogo')
				br
				input(type='submit',value='Create')
		li Delete company
			form(method="post", action='/companies')
				input(type="hidden" name="_method" value="delete")
				input(type='text',name="acc", placeholder='Please enter your password here' value='company')
				button(type='submit') Delete
		li Update company
			form(method="post", action='/companies')
				input(type="hidden" name="_method" value="put")
				input(type='text',name="acc", placeholder='Please enter your password here' value='company')
				button(type='submit') Update
	
	h2 Others
	ul
		li 
			a(href="/mail") Send Mail
