h1 Testing
	h2 User
	ul 
		li 
			a(href="/users") Users
		li 
			a(href="/users/new") New User
		li Create User
			form(method="post", action='/users')
				input(type='text',name="acc", placeholder='Please enter your account here' value='company@gogo')
				br
				input(type='text',name="pwd", placeholder='Please enter your password here' value='company@gogo')
				br
				input(type='submit',value='Create')
				br
				| Type:
				input(type="radio" name="member_type" value="company" checked)
				| Company
				input(type="radio" name="member_type" value="talent")
				| Telent
		//- li Delete User
		//- 	form(method="post", action='/users')
		//- 		input(type="hidden" name="_method" value="delete")
		//- 		input(type='text',name="acc", placeholder='Please enter your password here' value='company')
		//- 		button(type='submit') Delete
		//- li Update User
		//- 	form(method="post", action='/users')
		//- 		input(type="hidden" name="_method" value="put")
		//- 		input(type='text',name="acc", placeholder='Please enter your password here' value='company')
		//- 		button(type='submit') Update

	h2 Profiles
	ul 
		li 
			a(href="/companies") Companies
		li 
			a(href="/talents") Talents
		
	h2 Others
	ul
		li 
			a(href="/mail") Send Mail
