h1 Create User
form(method="post", action='/users')
	input(type='text',name="acc", placeholder='Please enter your account here' value='company@gogo')
	br
	input(type='text',name="pwd", placeholder='Please enter your password here' value='company@gogo')
	br
	input(type='submit',value='Create')