//general menu setting
.menu{
	position: relative;
	.menu_dropdown { //dropdown behavior
		@extend .round_corner-bottom;
		position:absolute;
		overflow:hidden;
		display:none;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.2)
	}

	>li {
		float:left;

		&:hover>.menu_dropdown {
				display:block;
				}
		}
	a {
		cursor:pointer;
		display:block;
		width:100%;
	}
}

//dashboard menu style
.dashboard_menu{
	background-color:$grayscale_md_cl;
	.menu {
		height:60px;
		a {
			color:$base_white;
			padding:18px 20px;
			font-size:$rgs_font;
		}
		
		li:hover{
			background-color:$grayscale_cl;			
		}
	}
	.sub_menu {
		background-color:$grayscale_md_cl;

		&>li {
			&>a {
				line-height:$base_line_height;
				color:$base_white;
				font-size:$base_font_size;
				line-height:$base_line_height;			
			}
			&:hover{
						background-color:$grayscale_cl;
					}
			}
		}
}