.main_menu{
	width: 100%;
	height: $navbar_height;
	background-color:$navbar_bg;
	& ul{
		width: 100%;
		height: 100%;
		& li{
			display:inline-block;
			vertical-align:middle;
			width: 32%;
			height: 100%;
			line-height:50px;
			& .btn{
				height: 100%;
				width: 100%;
				color:$grayscale_light_cl;
				}
		}
	}
}