.pull_right{
	float:right;
	clear:right;
}
.pull_left{
	float:left;
	clear:both;
}
.col-centered{
	float: none;
	margin:0 auto;
	clear:both;
}
.clear_both{
	clear:both;
}
.clear_left{
	clear: left;
}
.clear_right{
	clear: right;
}
