.pull_right{
	float:right;
	clear:right;
}
.pull_left{
	float:left;
	clear:both;
}
.col-centered{
	float: none;
	margin:0 auto;
	clear:both;
}
.clear_both{
	clear:both;
}
.clear_left{
	clear: left;
}
.clear_right{
	clear: right;
}


//Zindex

.zindex--10{
	position: relative;
	z-index: 10;
}
.zindex--200{
	position: relative;
	z-index: 200;
}
.zindex--300{
	position: relative;
	z-index: 300;
}
.zindex--100{
	position: relative;
	z-index: 100;
}