html(ng-app='pingApp')
	head
		script(src="bower_components/angular/angular.js")
		script(src="bower_components/angular-route/angular-route.js")
		script(src="js/app.js")
		script(src="js/controller.js")

	body
		//- include ../modules/menu.jade
		//- .row
			.col-md-1
				a(href="#/") /
			.col-md-1
				a(href="#/home") home.jade
			.col-md-1
				a(href="#/login") login
			.col-md-1
				a(href="#/search") find_talent.jade
			.col-md-1
				a(href="#/search?work_type=Freelance") find_talent Freelance
			.col-md-1
				a(href="#/search?position=Designer") find_talent Designer
		div(ng-view)

