extends ../templates/layout1.jade
block css 
	link(rel="stylesheet"  href="/css/main.css")
	link(rel="stylesheet"  href="/css/pinger_profile.css")
	//- link(rel="stylesheet" href="https://cdn.rawgit.com/igorlino/fancybox-plus/1.3.6/css/jquery.fancybox-plus.css" type="text/css" media="screen")
	link(rel="stylesheet" href="/bower_components/fancybox/source/jquery.fancybox.css" type="text/css" media="screen")
	
block scripts
	script(type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.js")
	script(type='text/javascript' src='/bower_components/fancybox/source/jquery.fancybox.js')
	//- script(type="text/javascript" src="/bower_components/fancybox/source/jquery.fancybox.pack.js")
	//- script(type="text/javascript" src="https://cdn.rawgit.com/igorlino/fancybox-plus/1.3.6/src/jquery.fancybox-plus.js")
	script(type="text/javascript" src="/js/pinger_profile.js")
		
block body_class
	body.pinger.profile.view
//- block menu
	h3 hi The menu is diabled for now
		//- include ../modules/menu.jade
block content
	section.profile_banner_section 
		.container
			img.profile__cover__photo.image_insert.round_container--rg(src='/img/profile_img/cover-photo.jpg')
			h1.profile__name.base_white username from DB
			h2.profile__tagline job from DB
	section.pinger_profile_top_section
		.container
			.row
				.pinger_info-photo.round_container.round_container--rg.col-centered
					img(src='/img/alpaca2.jpg')
				.pinger_social_icons.social_icons.pull_right.col-md-4
					ul
						li.icon_fb.round_container
							a
								i.fa.fa-facebook-f
						li.icon_tw.round_container
							a
								i.fa.fa-twitter
						li.icon_ld.round_container
							a
								i.fa.fa-linkedin
						li.icon_site.round_container
							a
								i.fa.fa-globe
				.pinger__icon__group.row_space--md.clearfix
					.col-md-8.col-centered
						ul.pinger__icon__list
							li.pinger__icon__single.icon_set.icon_set--rg
								i.lnr.lnr-users
								span.pinger__icon__info 2-3
							li.pinger__icon__single.icon_set.icon_set--rg
								i.lnr.lnr-users
								span.pinger__icon__info Ping
							li.pinger__icon__single.icon_set.icon_set--rg
								i.lnr.lnr-users
								span.pinger__icon__info School
							li.pinger__icon__single.icon_set.icon_set--rg
								i.lnr.lnr-users
								span.pinger__icon__info Location,hoho
				.pinger__skills__tags.col-md-8.col-centered.clearfix
					ul.tag_group
						li.tag.tag--pri_light test
						li.tag.tag--pri_light tesasdfasdft
						li.tag.tag--pri_light testasfasdf
						li.tag.tag--pri_light testasfasdf
						li.tag.tag--pri_light testasfasdf
				.pinger__character__tags.col-md-8.col-centered.clearfix
					ul.tag_group
						li.tag.tag--pri testasfasdf
						li.tag.tag--pri testasfasdf
						li.tag.tag--pri testasfasdf
						li.tag.tag--pri testasfasdf
						li.tag.tag--pri testasfasdf
	section.pinger_main_section
		.container
			.row
				.pinger__main__section__tabs.main_tabs 
					ul.nav.nav_tabs.nav-justified.col-md-8.col-centered.clearfix
						li.tab.active.col-md-4.no_pad
							a.row_space--sm(href='#') about
						li.tab.col-md-4.no_pad
							a.row_space--sm(href='#') experience
						li.tab.col-md-4.no_pad
							a.row_space--sm(href='#') portfolio 
			.pinger_about_section.pinger_tab_content
				.row

					.pinger__about__inner.tab_content_single.row_space--lg.col-md-10.col-centered 
						p I am a kickass designer hell yea. is a full circle design and web development agency looking for an exceptional Mid-weight Graphic Designer with Front-End Web Development skills to become a part of our close-knit team. Blick has a diverse range of clients, from government to corporate, with a special focus on the not-for-profit sector.
				
					.profile_working_experience.tab_content_single.working_experience_group
							.working__single.experience
							.working__single.education
							.working__single.skill
							.working__single.award
							.working__single.career_aspiration
					.pinger_portfolio_section.pinger_tab_content.row_space--lg
						.row
							.pinger__portfolio__group
								.portfolio__single.col-md-4
									.portfolio__single__inner
										a.fbtn(data-lightbox-id='lightbox1',href='#fancybox1',data-fancybox-height='auto') 
											.thumbnail
												img(src='/img/profile_img/eiffel-tower-paris.jpg')
											.portfolio__single__intro
												.portfolio__title
													h4 pear delivery
													span web design
												.portfolio__tags
													ul.tag_group
														li.tag.tag--pri_light HTML/CSS
														li.tag.tag--pri_light Logo Design
														li.tag.tag--pri_light Brand
														li.tag.tag--pri_light Invision
														li.tag.tag--pri_light jQuery
								.portfolio__single.col-md-4
									.portfolio__single__inner
										a.fbtn(data-lightbox-id='lightbox1',href='#fancybox1',data-fancybox-height='auto') 
											.thumbnail
												img(src='/img/profile_img/eiffel-tower-paris.jpg')
											.portfolio__single__intro
												.portfolio__title
													h4 pear delivery
													span web design
												.portfolio__tags
													ul.tag_group
														li.tag.tag--pri_light HTML/CSS
														li.tag.tag--pri_light Logo Design
														li.tag.tag--pri_light Brand
														li.tag.tag--pri_light Invision
														li.tag.tag--pri_light jQuery
								.portfolio__single.col-md-4
									.portfolio__single__inner
										a.fbtn(data-lightbox-id='lightbox1',href='#fancybox1',data-fancybox-height='auto') 
											.thumbnail
												img(src='/img/profile_img/eiffel-tower-paris.jpg')
											.portfolio__single__intro
												.portfolio__title
													h4 pear delivery
													span web design
												.portfolio__tags
													ul.tag_group
														li.tag.tag--pri_light HTML/CSS
														li.tag.tag--pri_light Logo Design
														li.tag.tag--pri_light Brand
														li.tag.tag--pri_light Invision
														li.tag.tag--pri_light jQuery
								.portfolio__single.col-md-4
									.portfolio__single__inner
										a.fbtn(data-lightbox-id='lightbox1',href='#fancybox1',data-fancybox-height='auto') 
											.thumbnail
												img(src='/img/profile_img/eiffel-tower-paris.jpg')
											.portfolio__single__intro
												.portfolio__title
													h4 pear delivery
													span web design
												.portfolio__tags
													ul.tag_group
														li.tag.tag--pri_light HTML/CSS
														li.tag.tag--pri_light Logo Design
														li.tag.tag--pri_light Brand
														li.tag.tag--pri_light Invision
														li.tag.tag--pri_light jQuery
								.portfolio__single.col-md-4
									.portfolio__single__inner
										a.fbtn(data-lightbox-id='lightbox1',href='#fancybox1',data-fancybox-height='auto') 
											.thumbnail
												img(src='/img/profile_img/eiffel-tower-paris.jpg')
											.portfolio__single__intro
												.portfolio__title
													h4 pear delivery
													span web design
												.portfolio__tags
													ul.tag_group
														li.tag.tag--pri_light HTML/CSS
														li.tag.tag--pri_light Logo Design
														li.tag.tag--pri_light Brand
														li.tag.tag--pri_light Invision
														li.tag.tag--pri_light jQuery
								.portfolio__single.col-md-4
									.portfolio__single__inner
										a.fbtn(data-lightbox-id='lightbox1',href='#fancybox1',data-fancybox-height='auto') 
											.thumbnail
												img(src='/img/profile_img/eiffel-tower-paris.jpg')
											.portfolio__single__intro
												.portfolio__title
													h4 pear delivery
													span web design
												.portfolio__tags
													ul.tag_group
														li.tag.tag--pri_light HTML/CSS
														li.tag.tag--pri_light Logo Design
														li.tag.tag--pri_light Brand
														li.tag.tag--pri_light Invision
														li.tag.tag--pri_light jQuery


	include ../modules/talent_portfolio_lightbox.jade


	section.pinger_footer
		img(src='/img/profile_img/bottom_image.jpg')













