//variable naming rule ==============>TODO
//$Description-css_style_name

// Variables

// == Colors ==============================
//
//## Define all the colors here

//Define a variable to contain all main colors to
//generate the class dynamically
$colors:
"pri_cl" #6BB4AD,
"pri_light_cl" #8DD4CD,
"pri_dark_cl" #498D86,
"sec_cl" #D95161,
"sec_dark_cl" #BC414F,
"grayscale_cl" #929292,
"grayscale_light_cl" #DBD9D8,
"grayscale_dark_cl" #4B4B4B,
"base_white" #ffffff;


$pri_cl:    	    	#6BB4AD;  //primary color
$pri_light_cl:      	#8DD4CD;
$pri_dark_cl:       	#498D86;


$sec_cl:				#D95161;
$sec_dark_cl:       	#BC414F; 

$third_cl:  #599993;

$grayscale_cl:			#929292;
$grayscale_light_cl:	#DBD9D8;
$grayscale_dark_cl: 	#4B4B4B;
$base_white: 			#ffffff;



//== Scaffolding ============================== 
//
//## Setting for global styles

//** Background color for `<body>`.
$body_bg:               #F5F3F2;
//** Global text color on `<body>`.
$text_color:            $grayscale_dark_cl;

$remind_text_color:		$sec_cl;


//** Global textual link color.
$link_color:            $pri_cl;
//** Link hover color set via `darken()` function.
$link_hover_color:      #599993;
//** Link hover decoration.
$link_hover_decoration: ;




//== Typography ==============================
//
//## Font, line-height, and color for body text, headings, and more.
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.

$base_font_family:       'Avenir',Helvetica, Arial, sans-serif !default;
$base_font_weight:		 500; // normal

$base_font_size:			16px;
$base_input_font_size:		ceil(($base_font_size * 0.875)) !default; // ~14px
$large_font_size:         	ceil(($base_font_size * 1.25)) !default; // ~18px
$small_font_size:         	ceil(($base_font_size * 0.85)) !default; // ~12px




$h1_font_size:            floor(($base_font_size * 2.25)) !default; // ~36px
$h2_font_size:            floor(($base_font_size * 1.75)) !default; // ~28px
$h3_font_size:            ceil(($base_font_size * 1.25)) !default; // ~20px
$h4_font_size:			  $base_font_size !default;
$h5_font_size:            ;
$h6_font_size:            ; // ~12px


$profile_h1_font_size:		48px;
$profile_h2_font_size:		36px;
$profile_h3_font_size:		28px;
$profile_basic_font_size:		18px;


// //** Unit-less `line-height` for use in components like buttons.
$base_line_height:        22 / 16 !default; // 20/14
// //** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
// $line-height-computed:    floor(($base-font-size * $line-height-base)) !default; // ~20px

//******** Don't uncomment above line temporarily because it will cause error ********************


//========== Components ==============================
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$base_padding_vertical:     8px;
$base_padding_horizontal:   11px;

$large_padding_vertical:    ;
$large_padding_horizontal:  ;

$small_padding_vertical:    ;
$small_padding_horizontal:  ;

$xs_padding_vertical:       ;
$xs_padding_horizontal:     ;

$large_line_height:         ;
$small_line_height:         ;

$base_border_radius:        ;
$large_border_radius:       ;
$small_border_radius:       ;

//** Global color for active items (e.g., navs or dropdowns).
$component_active_color:    ;
//** Global background color for active items (e.g., navs or dropdowns).
$component_active_bg:       ;;


// ================================ Buttons ==============================
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn_font_weight:           bold !default;

$btn_pri_height:			50px;
$btn_pri_color:				$pri_cl;

$btn_sec_height:			31px;
$btn_sec_color:				$sec_cl;

$btn_link_disabled_color:        ;

// Allows for customizing button radius independently from global border radius
$btn_border_radius_base:         5px;
$btn_border_radius_large:        ;
$btn_border_radius_small:        ;

$btn_base_width:204px;
$btn_base_height:50px;
$btn_lg_width:;
$btn_md_width:;
$btn_sm_width:;
$btn_xs_width:;

//====== Forms ==============================
//
//##

//** `<input>` background color
$input_bg:                       $base_white;
//** `<input disabled>` background color
$input_bg_disabled:              ;

$input_warning_bg:				#FDF694;

//** Text color for `<input>`s
$input_color:                    $base_white;
//** `<input>` border color
$input_border:                   ;

// TODO: Rename `$input-border-radius` to `$input-border-radius-base` in v4
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
$input_border_radius:            5px;
//** Large `.form_control` border radius
$input_border_radius_large:      ;
//** Small `.form_control` border radius
$input_border_radius_small:      ;

$check_box_size_base:		17px; //for both checkbox and radio

//** Border color for inputs on focus
$input_border_focus:             ;
//** Placeholder text color
$input_color_placeholder:        ;

//** Default `.form_control` height
$input_height_base:              31px;
//** Large `.form_control` height
$input_height_large:             ;
//** Small `.form_control` height
$input_height_small:             ;

//** `.form_group` margin
$form_group_margin_bottom:       15px !default;


//** Background color for textual input addons
$input_group_addon_bg:           ;
//** Border color for textual input addons
$input_group_addon_border_color: ;

//** Disabled cursor for form controls and buttons.
$cursor_disabled:                not-allowed !default;



//== Dropdowns ==============================
//
//## Dropdown menu container and contents.


$dropdown_base_height: 41px;
$dropdwon_base_width: 162px;
//** Background for the dropdown menu.
$dropdown_bg:                    ;
//** Dropdown menu `border_color`.
$dropdown_border:                ;
//** Dropdown menu `border_color` **for IE8**.
$dropdown_fallback_border:       ;
//** Divider color for between dropdown items.
$dropdown_divider_bg:            ;

//** Dropdown link text color.
$dropdown_link_color:            ;
//** Hover color for dropdown links.
$dropdown_link_hover_color:      ;
//** Hover background for dropdown links.
$dropdown_link_hover_bg:         ;

//** Active dropdown menu item text color.
$dropdown_link_active_color:     ;
//** Active dropdown menu item background color.
$dropdown_link_active_bg:        ;

//** Disabled dropdown menu item background color.
$dropdown_link_disabled_color:   ;

//** Text color for headers within dropdown menus.
$dropdown_header_color:          ;

//** Deprecated `$dropdown_caret_color` as of v3.1.0
$dropdown_caret_color:           ;


//-- Z-index master list ==============================
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

$zindex_tooltip:           1070 !default;
$zindex_popover:           1060 !default;
$zindex_modal:             1050 !default;
$zindex_modal-background:  1040 !default;
$zindex_navbar-fixed:      1030 !default;
$zindex_navbar:            1000 !default;
$zindex_dropdown:          1000 !default;



//== Media queries breakpoints ==============================
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen_xs:                  480px !default;
//** Deprecated `$screen_xs_min` as of v3.2.0
$screen_xs_min:              $screen_xs !default;
//** Deprecated `$screen_phone` as of v3.0.1
$screen_phone:               $screen_xs_min !default;

// Small screen / tablet
//** Deprecated `$screen_sm` as of v3.0.1
$screen_sm:                  768px !default;
$screen_sm_min:              $screen_sm !default;
//** Deprecated `$screen_tablet` as of v3.0.1
$screen_tablet:              $screen_sm_min !default;

// Medium screen / desktop
//** Deprecated `$screen_md` as of v3.0.1
$screen_md:                  992px !default;
$screen_md_min:              $screen_md !default;
//** Deprecated `$screen_desktop` as of v3.0.1
$screen_desktop:             $screen_md_min !default;

// Large screen / wide desktop
//** Deprecated `$screen_lg` as of v3.0.1
$screen_lg:                  1200px !default;
$screen_lg_min:              $screen_lg !default;
//** Deprecated `$screen_lg_desktop` as of v3.0.1
$screen_lg_desktop:          $screen_lg_min !default;

// So media queries don't overlap when required, provide a maximum
$screen_xs_max:              ($screen_sm_min - 1) !default;
$screen_sm_max:              ($screen_md_min - 1) !default;
$screen_md_max:              ($screen_lg_min - 1) !default;


//== Grid system ==============================
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid_columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid_gutter_width:         30px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid_float_breakpoint:     $screen_sm_min !default;
//** Point at which the navbar begins collapsing.
$grid_float_breakpoint_max: ($grid_float_breakpoint - 1) !default;



//== Containers ==============================
//
//## Define the max and min of your '.container' for different screen size

// Small screen / tablet
$container_tablet:             (720px + $grid_gutter_width) !default;
//** For `$screen-sm-min` and up.
$container_sm:                 $container_tablet !default;

// Medium screen / desktop
$container_desktop:            (940px + $grid_gutter_width) !default;
//** For `$screen_md_min` and up.
$container_md:                 $container_desktop !default;

// Large screen / wide desktop
$container_large_desktop:      (1140px + $grid_gutter_width) !default;
//** For `$screen_lg_min` and up.
$container_lg:;



//== header ========================
$header_height:			80px;


//== Nav Bar ==============================
//
//## As title,the styles of nav bar, like links,label,inverted .etc
// Basics of a navbar

$navbar_height:					60px;
$navbar_bg:						#5F5E5E;
$navbar_color:					$base_white;
$navbar_margin_bottom:             ;
$navbar_border_radius:             ;
$navbar_padding_horizontal:        ;
$navbar_padding_vertical:          ;
$navbar_collapse_max_height:       ;


// Navbar links
$navbar_default_link_color:                ;
$navbar_default_link_hover_color:          ;
$navbar_default_link_hover_bg:             ;
$navbar_default_link_active_color:         ;
$navbar_default_link_active_bg:            ;
$navbar_default_link_disabled_color:       ;
$navbar_default_link_disabled_bg:          ;



//== Navs ==============================
//
//## Shared nav styles, tabs

$tab_active_cl:		$grayscale_dark_cl;
$tab_disable_cl:	#adaaa7;

$nav_link_padding:                          ;
$nav_link_hover_bg:                         ;

$nav_disabled_link_color:                   ;
$nav_disabled_link_hover_color:             ;




//== Jumbotron ==============================
//
//## paddings for the super large screen like TVs,
$jumbotron_padding:              ;
$jumbotron_color:                ;
$jumbotron_bg:                   ;
$jumbotron_heading_color:        ;
$jumbotron_font_size:            ;
$jumbotron_heading_font_size:    ;





//== Form states and feedback messages ==============================
//
//## Define colors for form feedback states and, by default, alerts.

$state_success_text:             ;
$state_success_bg:               ;
$state_success_border:           ;

$state_info_text:                ;
$state_info_bg:                  ;
$state_info_border:              ;

$state_warning_text:             ;
$state_warning_bg:               ;
$state_warning_border:           ;

$state_danger_text:              ;
$state_danger_bg:                ;
$state_danger_border:            ;






//== Labels ==============================
//
//## 

//** Default label background color
$label_default_bg:            ;
//** Primary label background color
$label_primary_bg:            ;
//** Success label background color
$label_success_bg:            ;
//** Info label background color
$label_info_bg:               ;
//** Warning label background color
$label_warning_bg:            ;
//** Danger label background color
$label_danger_bg:             ;

//** Default label text color
$label_color:                 ;
//** Default text color of a linked label
$label_link_hover_color:      ;































