//- This file needs member role from DB to show the different menu function list 
#menu
	h1 Menu for #{user}
	li Profile
	if (user == "company")
		li 
			a(href='/find_talent') Find Talent
	else 
		li 
			a(href='/find_project') Find Project
	li 
		ul Setting
			li My account
			li Terns&Condition
			li Version
			li 
				a(href='/logout') Log out
