//- This file needs member role from DB to show the different menu function list 
#menu
	h1 Menu for #{mem_type}
	li Profile
		.profile
			if (mem_type == "company")
				ul
					li Company Name
					li Pic
					li Description
					li Give a Star & Comments
					li Post a Job
			else if (mem_type == "talent")
				ul
					li Sys Information
					li Basic Profile Information
					li Education Information
					li Talent Information
					li Work Experience
					li Awards/Races
					li Project History
	if (mem_type == "company")
		li 
			a(href='/find_talent') Find Talent
	else if (mem_type == "talent")
		li 
			a(href='/find_project') Find Project
	li 
		.setting
			span Setting
			ul
				li My Account
					#MyAccount
						ul
							li Change PWD
				li Terns&Condition
				li Version
				li 
					a(href='/logout') Log out
