@import "../base/_variables.scss";
@import "../base/_mixins.scss";
//mark the body with class name "dashboard"
.dashboard {
    background-color: $grayscale_5;
    & .menu_container {
        .menu {
            width: 70%;
        }
        .pull_right {
            display: none;
        }
    }
}

///================ .edit mode Start=================
body.edit {
    background: $grayscale_6;
}

//========= Sidebar =================
.side_bar-left {
    background-color: $base_white;
    height: 100vh;
    .menu {
        background-color: $base_white;
        height: auto;
        width: 100%;
        .menu_item {
            text-align: left;
            display: block;
            width: 100%;
            & a {
            	display:block;
            	padding:$space_sm;
				@include prefix(( box-sizing:border-box ), webkit moz ms);
                
                &:hover span{
                	color:$base_white;
                }


            }
            &:hover a,
            &.active a {
                color: $base_white ;
                background-color: $pri_cl;
            }

            &.active span {
				color: $base_white ;
            }
            &:hover .lnr,
            &.active .lnr {
                color: $base_white;
            }
        }
    }
} //====== Sidebar ends ==========
//====== Progress Bar ==========
.profile_progress {
    float: left;
    background: $base_white;
    padding: $space_xs;
    margin-top: $space_lg;
    h5 {
        display: block;
        float: left;
        font-weight: 900;
    }
    p {
        font-size: $sm-font;
        color: $grayscale_5;
        float: left;
        display: block;
    }
}

.progress_bar_container {
    float: left;
    background: $grayscale_6;
    display: block;
    height: 20px;
    width: 100%;
    margin: $space_xxs 0;
    overflow: hidden;
}

.progress_bar {
    float: left;
    width: 80%;
    height: 100%;
    background-color: $pri-cl;
}

.profile__progress__percentage {
    float: right;
    font-weight: 900;
    color: $pri_cl;
}

.progress_bar {}

.progress__unfilled__list {
    margin-top: $space_xxs;
    float: left;
    clear: both;
}

.progress__unfilled__list {
    a {
        display: block;
        color: $pri_cl;
        text-decoration: underline;
        font-size: $sm-font;
        cursor: pointer;
        padding-bottom: 5px;
        &:hover {
            text-decoration: none;
        }
    }
}//====== Progress Bar Ends==========


//======== Edit Profile General =============

.content_container-three-col {
    padding-left: 0;
    padding-top: $space_sm;
    h1 {
        padding-left: $space_md;
        padding-bottom: $space_sm;
    }
} // end of the .content_container
.edit__title__bar {
    position: relative;
    font-size: 18px;
    font-family: $base_font_family;
    font-weight: 900;
    background-color: $profile_edit_title_color;
    height: 50px;
    box-sizing: border-box;
    padding-left: $space_lg;
    line-height: 50px;
    border-radius: 0px $base_border_radius $base_border_radius 0px;
}

//edit sections
.edit_group {
    float: left;
    width: 100%;
    clear: both;
    padding-bottom: $space_xs;
}

.hint {
    width: 20px;
    height: 20px;
    display: block;
    background-color: $grayscale_dark_cl;
    color: $grayscale_6;
    border-radius: 50%;
    font-size: $base_font_size;
    line-height: 21px;
    text-align: center;
    position: absolute;
    margin-top: -10px;
    top: 50%;
    right: 30px;
    cursor: pointer;
    &:hover .hint__inner {
        display: block;
    }
    .hint__inner {
        display: none;
        z-index: 100;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
    &:after {
        content: "i";
        display: block;
        cursor: pointer;
        color: $base_white;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

.hint__inner {
    background: $base_white;
    position: absolute;
    top: -15px;
    left: 60px;
    width: 25vw;
    max-width: 360px;
    border-radius: $base_border_radius;
    padding: $space_xs;
    h5 {
        color: $grayscale_dark_cl;
        text-align: left;
        padding-bottom: $space_xs;
    }
    p {
        text-align: left;
        font-size: $sm_font;
        color: $grayscale_md_cl;
    }
}

.edit__input__inner {
    margin-top: $space_sm;
    padding-left: $space_lg;
}

.edit__input-image {
    float: left;
    clear: both;
} //====== Profile Edit General Ends =======

//======== Displayed Images Section ============
.edit__input-profile-image {
    display: block;
    float: left;
}

.edit__input-profile-image-info {
    padding-left: $space_md;
    padding-top: $space_md;
    float: left;
    display: block;
    & .input {
        position: absolute;
        left: -9999px;
    }
    & span {
        font-size: $base_input_font_size;
    }
    & .btn {
        margin: $space_xxs 0;
    }
}

.edit__input__inner {
    //need to remove
    .photo_container {
        border-radius: $base_border_radius;
        border: none;
        overflow: hidden;
        height: 175px;
        background-color: $grayscale_5;
        position: relative;
        width: 100%;
        & img {
            object-fit: cover;
            position: absolute;
            width: 100%;
            height: 100%;
        }
        & .btn {
            width: 80%;
            margin: 20% auto 0;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            z-index: 5;
        }
        & .input {
            position: absolute;
            left: -9999px;
        }
    }
} //======== Displayed Images Section Ends ============

//========= About Your Company ==========

.add_content {
	float:left;
	width:100%; 
	display:block;
	min-height:36px;
	
	a {
		float:left;
		padding:10px 0 0 24px;
		display:block;
		text-align:left;
		width:100%;
		height:100%;

		&:before {
			content:"\f055";
			font-family: fontawesome;
			color:$pri_cl;
			font-size:36px;
			display:inline-block;
			position:absolute;
			text-align: left;
			left:0;
		}
	}
}

       


.social_network {
    position: relative;
    .title {
        & a {
            & .reminder {
                width: 21px;
                height: 21px;
                background-color: $grayscale_dark_cl;
                color: $grayscale_6;
                border-radius: 50%;
                font-size: $base_font_size;
                line-height: 21px;
                text-align: center;
                position: absolute;
                top: 16px;
                right: 30px;
            }
        }
    }
    .input_container {
        padding: 66px 207px 40px 73px;
        & > .btn_pri {
            margin-top: 166px;
            text-transform: uppercase;
            display: inline-block;
            vertical-align: top;
            width: 149px;
            height: 50px;
            margin-right: 10px;
            font-size: $base_font_size;
            &.cancel {
                background-color: $grayscale_cl;
                color: $base_white;
            }
            &.save {
                width: 172px;
            }
            &.save.disable {
                background-color: #ADC8C5;
            }
        }
        .btn.social_media_btn {
            width: 100%;
            max-width: initial;
            height: 50px;
            margin-bottom: 20px;
            position: relative;
            line-height: 63px;
            padding: 0px 0px;
            color: $base_white;
            background-color: $grayscale_cl;
            &.lnr-checkmark-circle:before {
                font-family: $lnr_font;
                display: block;
                position: absolute;
                right: -36px;
                color: $third_cl;
                font-size: 24px;
                line-height: 50px;
            }
            &.offical {
                &.active {
                    background-color: $pri_cl;
                }
                font-size: 18px;
                line-height:50px;
            }
            &.facebook {
                &.active {
                    background-color: #3B5997;
                }
                background-image: url(/img/profile_img/fb.png);
                background-repeat: no-repeat;
                @include prefix(( background-size:auto 52%, background-position:center), webkit moz);
            }
            &.linkedin {
                &.active {
                    background-color: $pri_cl;
                }
                background-image: url(/img/profile_img/linkedin.png);
                background-repeat: no-repeat;
                @include prefix(( background-size:auto 66%, background-position:center), webkit moz);
            }
            &.twitter {
                &.active {
                    background-color: $pri_cl;
                }
                background-image: url(/img/profile_img/tw.png);
                background-repeat: no-repeat;
                @include prefix(( background-size:auto 52%, background-position:center), webkit moz);
            }
            &.google {
                &.active {
                    background-color: $pri_cl;
                }
                background-image: url(/img/profile_img/googleplus.png);
                background-repeat: no-repeat;
                @include prefix(( background-size:auto 66%, background-position:center), webkit moz);
            }
            &.lnr-checkmark-circle {
                &:before {
                    display: none;
                }
                &.active:before {
                    display: initial;
                }
            }
        }
        & .input_single {
            width: 100%;
            margin-bottom: 21px;
        }
    } //.input_container
} //.social_network
