@import "../base/_variables.scss";


.container{
	min-height:875px;
	height: 100%;
	background:url('../../img/login_background.png') no-repeat top;
	background-size:cover;

}
.brand_container{
	width: 48%;
	min-width:300px;
	padding:50px 0px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	& img{
		width:100%;
		max-width:187px;
		min-width:130px;
		height: auto;
		display:block;
		margin-left: auto;
		margin-right: auto;
	}
}

.container #login_form{
	padding-top: 50px;
	text-align:center;
	& .input_text_container{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		& input::-webkit-input-placeholder,input:-ms-input-placeholder{
			color:$grayscale_dark_cl;
		}
	}
	& .btn{
		margin-left: auto;
		margin-right: auto;
	}
	& .forget_pwd{
		width: 300px;
		display:block;
		margin-top: 20px;
		margin-left: 28%;
		text-align:left;
		font-size: $base_input_font_size;
		@media (min-width:768px){
			margin-left:31%;
		}
		@media(max-width:480px){
			margin-left:10%;
		}
	}
}